body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

body * {
  position: relative;
  z-index: 999;
}

/* start header.js */
head {
  background-color: #333;
  padding: 1rem;
}

.hamburger-menu {
  cursor: pointer;
  display: none; 
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 25px;
}

.hamburger-menu .bar {
  height: 3px;
  width: 100%;
  background-color: #000;
  border-radius: 10px;
}

nav ul {
  display: flex;
  flex-direction: column; 
  align-items: center;
  padding: 0;
  overflow: hidden;
  transition: height 0.3s ease;
  list-style: none;
  margin: auto;
}

nav ul li {
  margin: 10px 0;
}

nav ul li a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

/* end header.js */

.rng-options {
  text-align: center;
}

canvas { 
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 2em;
  width: 100%;
  height: 100%;
  max-height: 500px;
}   

#gameOfLifeCanvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;  
  filter: invert(1) hue-rotate(180deg);
  z-index: 1;
}

.dark-mode #gameOfLifeCanvas {
  filter: invert(0) hue-rotate(90deg) !important;
}

.darkmode nav {
  margin-bottom: 1em !important;
  background: rgba(43, 43, 43, .8);
}

.container {
  max-width: 600px;
  margin: 50px 10px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.options label {
  display: block;
  margin-bottom: 10px;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
}

button:hover {
  background-color: #0056b3;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="number"] {
    width: 80%;
    margin-left: auto !important;
    text-align: center;
    margin-right: auto !important;
    display: block;
    padding: 8px;
    margin: 10px 0;
}

#arrayOutput {
    width: 80% !important;
    margin: auto;
    display: flex;
    min-height: 8em;
}

#arrayInput {
    width: 90%;
    display: flex;
    margin: auto;
}

#passwordLength {
    width: unset;
    display: inline-block;
}


.random-values {
  font-size: 12px;
  white-space: pre-wrap;
  padding: 10px;
}

.sector-counts {
  font-size: 12px;
  white-space: pre-wrap;
}

.randomRunner {
  display: flex;
}

.sector-counts div:first-child {
  white-space: unset !important;
  display: flex;
  justify-content: space-around;
}

.privacy-block {
  text-align: center;
  text-transform: uppercase;
  position: relative;
  z-index: 999;
}

.privacy-block a {
  color: white !important;
}

.privacy-block a:hover {
  color: red !important;
  transition: 0.5s;
  opacity: .7;
}

/* IDs */
#passwordOutput {
  max-width: 95%;
  text-align: center;
}

code {
  color: #A9A9A9;
}

/* Dark Mode Toggle */
.dark-mode head {
  background-color: seagreen;
}

.dark-mode .hamburger-menu .bar {
  background-color: #fff !important;
}


.dark-mode nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}


.dark-mode-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
  padding: 2vw;
  background: rgba(26, 75, 80, 0.3);
  border-radius: 5em;
  transition: 5s c;
  transition-timing-function: ease;
}

.dark-mode a {
  padding: 2px;
  color: white;
  font-weight: bold;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.dark-mode code {
    background: #333;
    color: beige;
    padding: 4px;
}

.function {
    color: orange;
}

.head-container .container {
  margin-top: 2em;
}

.mathJax, .head-container {
  margin:auto;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.dark-mode body {
  background-color: #1c1c1c !important;
  color: #f1f1f1 !important;
  transition: 2s;
}

.dark-mode .container {
  background-color: #2b2b2b !important;
  color: #f1f1f1 !important;
  transition: 2s;
}

.dark-mode input[type="text"], .dark-mode input[type="number"] {
  background-color: #2b2b2b !important;
  color: #f1f1f1 !important;
  border: 1px solid #444444 !important;
  transition: 2s;
}

.dark-mode button {
  background-color: #444444 !important;
  color: #f1f1f1 !important;
  transition: 2s;
}

.dark-mode button:hover {
  background-color: #222222 !important;
  transition: 2s;
}

.dark-mode-toggle .slider {
  background-color: #ccc !important;
  transition: 2s;
}

.dark-mode-toggle .slider:before {
  background-color: #1c1c1c !important;
  transition: 2s;
}

button {
  background-color: #0078d4;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 2px;
  cursor: pointer;
  border-radius: 4px;
}

select, input[type="file"] {
  padding: 6px 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
 /* background-color: #2d2d2d; */
}

.bin-counts, .digit-counts {
  background-color: grey;
  white-space: nowrap;
  padding: 1em;
}

pre {
 /* background-color: #2d2d2d; */
  padding: 0px;
  margin: 0px;
  border-radius: 4px;
  white-space: pre-wrap;
}

.bin-counts p, .digit-counts p {
  padding: 0px !important;
  margin: 0px !important;
}

#results {
  padding: 10px;
  border-radius: 4px;
  white-space: pre;
}

#results .main-label {
  padding: 0px !important;
  margin: 0px !important;
}

.results-container {
  display: flex;
}

.frequencyFalse {
  background-color: red !important;
  color: white !important;
}
.frequencyPass {
  background-color: green !important;
  color: white;
}

h2.main-label {
  text-align: center;
}

.results-container .standard-chi-results, .results-container .benfords-chi-results {
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 769px) {
  nav ul {
    flex-direction: row;
    justify-content: space-evenly;
    width: 75%;
  }
}

@media only screen and (max-width: 768px) {
  .hamburger-menu {
    display: flex; 
  }

  nav ul {
    display: none; 
  }
  nav ul li {
    text-align: center;
  }
}

@media only screen and (max-width: 1200px)  {
  .container {
    margin: 50px auto !important;
  }
  .RNG-Arrayizer .container {
    margin: 0px !important;
  }
  .randomRunner {
    display: block;
  }
  .randomRunner .container {
    margin-top: 10px;
    margin-bottom:10px;
  }
}
